/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* Estilos globais */
body {
    background-color: #84848422;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
    margin: auto;
}

main {
    background-color: white;
    font-family: Arial, sans-serif;;
}

main h1 {
    background-color: #333;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 15px;
}

.article {
    margin-bottom: 40px;
}

article h2 {
    padding-left: 10px;
}

article p, li {
    list-style-type: none;
    padding: 10px;
    color: black;
    font-size: 1em;
    text-align:justify;
}

/*main p:last-child {
    text-align: right;
    padding-bottom: 40px;
}*/

main p  {
    text-align: right;
    padding-bottom: 40px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #33333377;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .article {
    margin-right: 0;
    margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    main h1 {
    font-size: 1.5em;
    padding: 10px;
    }
}
