/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* Estilos globais */
body {
    height: 100vh;
    background-color: #84848422;
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 800px;
    margin: auto;
    line-height: 2rem;
}

main {
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 10px;
}

main h1 {
    background-color: #333333b8;
    color: #fff;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    padding: 15px;
    margin: -10px -10px 0px -10px;
    border-radius: 0px 0px 10px 10px;
}

article {
    margin-bottom: 30px;
}

article > img {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    float: right;
}

article h2 {
    padding-left: 10px;
}

article p, li {
    list-style-type: none;
    padding: 10px;
    color: black;
    font-size: 1rem;
}

main a  {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #33333377;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

/* Botão de voltar ao topo */
#btn-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 12px;
    background-color: #5555557d;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }
  
  #btn-topo:hover {
    background-color: #444;
  }
  

/* Responsive styles */
@media screen and (max-width: 768px) {
    .article {
    margin-right: 0;
    margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    main h1 {
    font-size: 1.5em;
    padding: 10px;
    }
}
